@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.searchedPoke{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}